.navbar{
    z-index: 1000;
}

.active{
    color: #40b639!important;
    font-weight: 600;
}

.navbar-transparent{
    background: transparent;
}

.navbar-transparent a{
    color: white !important;

}

.navbar-transparent .active{
    color: #40b639!important;
}


.main-nav{
    transition: all .3s ease;
    transform-origin: top;
    font-weight: 500;
    color: #2d2d2d;
}

.main-nav a:hover{
    color: #40b639!important;
}


.main-nav.expand{
    transform: scaleY(1);
    opacity: 1;
    z-index: 200!important;
    background: white;
}

@media screen and (max-width: 640px){
    .navbar-transparent .main-nav{
        background: rgba(33, 33, 33, 0.92);
    }
    .main-nav{
        top: 55px;
        min-height: 300px;
        background: white;
        opacity: 0;
        transform: scaleY(0);
        @apply flex-col fixed w-full left-0 shadow-xl;
    }
}
.header-height{
    height: var(--header-height);
}