.navbar{
    z-index: 1000;
}

.active{
    color: #40b639!important;
    font-weight: 600;
}

.navbar-transparent{
    background: transparent;
}

.navbar-transparent a{
    color: white !important;
}
.navbar-transparent .bar-icon{
    color: #e1e1e1;
}

.navbar-transparent .active{
    color: #40b639!important;
}


.main-nav{
    transition: all .3s ease;
    transform-origin: top;
    font-weight: 500;
    color: #2d2d2d;
}

.dropdown{
    @apply absolute z-50 top-10 -right-3 mt-3 bg-white  rounded-md text-dark-700 shadow-card overflow-hidden;
    transform: translateY(20px);
    transition: transform .4s ease, opacity .4s ease, visibility .3s ease;
    opacity: 0;
    width: 200px;
    visibility: hidden;
}
.dropdown-open{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.dropdown .dropdown-item{
    @apply px-4 py-1
}
.dropdown .dropdown-item:hover {
    @apply bg-primary-600/20 px-4
}

.main-nav a:hover{
    transition: all .4s ease;
    color: #40b639!important;
}


.main-nav.expand{
    transform: scaleY(1);
    opacity: 1;
    z-index: 200!important;
    background: white;
}

@media screen and (max-width: 640px){
    .navbar-transparent .main-nav{
        background: rgba(33, 33, 33, 0.92);
    }
    .main-nav{
        top: 55px;
        min-height: 200px;
        background: white;
        opacity: 0;
        transform: scaleY(0);
        @apply flex-col fixed w-full left-0 shadow-xl;
    }
}
.header-height{
    height: var(--header-height);
}